@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");
@import 'https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800;900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap';
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  color: #fff;
  margin-top: 14px;
  margin-bottom: 30px; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

p {
  font-family: "Mulish", sans-serif;
  color: #989CAC; }

.sub-title {
  color: #FF455B;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-family: "Mulish", sans-serif;
  display: flex;
  align-items: center; }
  .sub-title:before {
    margin-right: 8px;
    content: url("../../assets/images/polygon.png"); }

/*TODO: Check if there is a more proper way to name this file where all reccurring tags and elements are placed like body, main etc.*/
body {
  margin: 0;
  font-size: 16px;
  background-color: #0F1118; }

.container {
  display: flex;
  flex-direction: row; }

.content-container {
  flex: auto; }

.social-bar {
  width: 8.75rem; }

nav {
  z-index: 1;
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 1.5rem;
  background-color: #0F1118;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav .navigation {
    display: flex;
    align-items: center;
    gap: 6rem;
    padding-left: 1rem; }
  nav .reach-out {
    display: flex;
    gap: 1rem;
    align-items: center; }
    nav .reach-out .contact a {
      white-space: nowrap;
      text-decoration: none;
      color: #fff; }

@media (max-width: 1000px) {
  /*TODO: Clean this up*/
  .header-image {
    display: none; }
  .our-services {
    flex-direction: column; }
    .our-services .service-cards {
      flex-wrap: wrap; } }

/*HERO*/
header {
  /*Temporary hard coded height*/
  height: 100vh;
  max-height: 1000px;
  display: flex; }
  header .gradient-background {
    z-index: -1;
    position: absolute;
    width: 1000px;
    height: 1000px;
    opacity: 0.07;
    filter: blur(250px);
    right: 0;
    top: -200px;
    background-image: linear-gradient(180deg, #FF455B 0%, #FF7245 133.33%); }
  header .header-image {
    flex: 1; }
    header .header-image .hero-image {
      width: 60%;
      background-position: center;
      background-image: url("../assets/images/hero-image.jpg");
      height: 100%;
      max-height: 1000px;
      background-size: cover;
      position: relative; }
      header .header-image .hero-image .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2); }
  header .hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }

/*OUR SERVICES*/
.our-services {
  position: relative;
  overflow: hidden;
  padding: 16.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap; }
  .our-services .gradient-background {
    z-index: -1;
    position: absolute;
    width: 1000px;
    height: 1000px;
    opacity: 0.07;
    filter: blur(250px);
    top: 0;
    left: -280px;
    background-image: linear-gradient(180deg, #FF455B 0%, #FF7245 133.33%); }
  .our-services .services {
    flex: 1; }
  .our-services .service-cards {
    flex: 2;
    display: flex;
    gap: 1rem; }
    .our-services .service-cards .card-container:nth-child(2) {
      margin-top: -3.75em; }
    .our-services .service-cards .card {
      max-height: fit-content;
      max-width: 330px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      border: 2px solid rgba(248, 248, 252, 0.1);
      padding: 3.5rem; }

/*PORTFOLIO*/
.portfolio {
  position: relative;
  background-color: #fff; }
  .portfolio .right-text {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #0D0F16;
    font-size: 7.5rem;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(-180deg);
    writing-mode: vertical-rl; }
  .portfolio .right-text-shadow {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #0D0F16;
    font-size: 14rem;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.15;
    transform: rotate(-180deg);
    writing-mode: vertical-rl; }
  .portfolio .portfolio-container {
    width: fit-content;
    padding-top: 11.5rem; }
    .portfolio .portfolio-container .header-container {
      padding-left: 15.625rem; }
      .portfolio .portfolio-container .header-container .latest-cases {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .portfolio .portfolio-container .header-container .latest-cases h2 {
          color: #26272C; }
  .portfolio .case-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; }
    .portfolio .case-container img {
      max-width: 480px;
      max-height: 680px; }

/*NEWSLETTER*/
.subscribe {
  position: relative;
  flex-wrap: wrap;
  padding: 120px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 129px; }
  .subscribe .gradient-background {
    z-index: -1;
    position: absolute;
    width: 1000px;
    height: 1000px;
    opacity: 0.07;
    filter: blur(250px);
    top: -200px;
    background-image: linear-gradient(180deg, #FF455B 0%, #FF7245 133.33%); }
  .subscribe form fieldset {
    margin: 0 0 9px 0;
    padding: 0;
    border: 0;
    display: flex; }
  .subscribe form input[type='email'] {
    border: 2px solid rgba(248, 248, 252, 0.1);
    background-color: transparent;
    padding: 14px 0 14px 30px;
    margin-right: 1em; }
  .subscribe form input[type='submit'] {
    height: inherit;
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #FF455B 0%, #FF7245 100%); }
  .subscribe form input[type='checkbox'] {
    border: 2px solid rgba(248, 248, 252, 0.1);
    background-color: transparent; }
  .subscribe form label {
    color: #989CAC;
    font-size: 14px;
    font-family: "Mulish", sans-serif; }
    .subscribe form label span {
      color: #FF455B; }

.about-us {
  height: 1000px;
  display: flex;
  align-items: center; }
  .about-us .header-image {
    height: 100%;
    flex: 1; }
  .about-us .hero-image {
    flex: 1;
    width: 80%;
    background-position: center;
    background-image: url("../assets/images/about-us.jpg");
    height: 100%;
    max-height: 1000px;
    background-size: cover;
    position: relative; }
    .about-us .hero-image .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2); }
  .about-us .hero {
    flex: 1; }

.blog-showcase {
  height: 100vh;
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .blog-showcase .header-container .latest-cases {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .blog-showcase .header-container .latest-cases h2 {
      color: #26272C; }
  .blog-showcase .blog-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em; }
    .blog-showcase .blog-container .blog {
      max-width: 555px; }
      .blog-showcase .blog-container .blog .meta-info {
        margin-top: 2.5em;
        display: flex;
        color: #989CAC; }

.button, .button__gradient {
  white-space: nowrap;
  font-family: "Mulish", sans-serif;
  color: #fff;
  text-transform: capitalize;
  font-size: 1rem;
  line-height: 160%;
  text-align: center;
  width: fit-content;
  padding: 0.5rem 2.5rem;
  text-decoration: none; }
  .button__gradient {
    background: linear-gradient(90deg, #FF455B 0%, #FF7245 100%); }
  .button__transparent {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5); }
  .button--hover {
    /*TO BE ADDED*/ }

/*General links*/
.view-more {
  text-decoration: none;
  font-family: "Mulish", sans-serif;
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 0.05em;
  text-transform: uppercase; }
  .view-more__black {
    color: #26272C; }
  .view-more__white {
    color: #fff; }
  .view-more--hover {
    /*TO BE ADDED*/ }
  .view-more:after {
    margin-left: 10px;
    content: url("../assets/images/arrow.png"); }

.left-bottom-text {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  position: absolute;
  left: -29px;
  bottom: -8px;
  color: #0D0F16;
  font-size: 7.5rem;
  writing-mode: vertical-rl;
  transform: rotate(-180deg); }

.left-bottom-text-shadow {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  position: absolute;
  left: 5px;
  bottom: -14px;
  color: #0D0F16;
  opacity: 0.25;
  font-size: 14rem;
  writing-mode: vertical-rl;
  transform: rotate(-180deg); }

.right-text {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  font-size: 7.5rem;
  position: absolute;
  right: -6.5rem;
  top: 0;
  transform: rotate(-180deg);
  writing-mode: vertical-rl; }

.right-text-shadow {
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  font-size: 14rem;
  position: absolute;
  right: -14.5rem;
  opacity: 0.03;
  top: 0;
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
  overflow: hidden; }
  .right-text-shadow div {
    position: relative;
    bottom: 15rem; }
