body {
  margin: 0;
  font-size: 16px;
  background-color: #0F1118;
}

a {
  font-family: $main-font;
  color: #fff;
  font-weight: 600;
}

.link {
  text-decoration: none;
  font-family: $main-font;
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  &:after {
    margin-left: 10px;
    content: url("../assets/images/arrow.png");
  }
}

.container {
  display: flex;
  flex-direction: row;
}

.content-container {
  flex: auto;
}

.button {
  white-space: nowrap;
  font-family: $main-font;
  color: #fff;
  text-transform: capitalize;
  font-size: 1rem;
  line-height: 160%;
  text-align: center;
  width: fit-content;
  padding: 0.5rem 2.5rem;
  text-decoration: none;
}

.gradient-button {
  @extend .button;
  background: linear-gradient(90deg, #FF455B 0%, #FF7245 100%);
}

.transparent-button {
  @extend .button;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

/*HERO*/
header {
  /*Temporary hard coded height*/
  height: 100vh;
  max-height: 1000px;
  display: flex;

  .gradient-background {
    z-index: -1;
    position: absolute;
    width: 1000px;
    height: 1000px;
    opacity: 0.07;
    filter: blur(250px);
    right: 0;
    top: -200px;
    background-image: linear-gradient(180deg, #FF455B 0%, #FF7245 133.33%);
  }

  .header-image {
    flex: 1;

    .hero-image {
      width: 60%;
      background-position: center;
      background-image: url("../assets/images/hero-image.jpg");
      height: 100%;
      max-height: 1000px;
      background-size: cover;
      position: relative;

      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
      }

      .right-text {
        font-family: $header-font;
        font-weight: 900;
        text-transform: uppercase;
        color: white;
        font-size: 7.5rem;
        position: absolute;
        right: -6.5rem;
        top: 0;
        transform: rotate(-180deg);
        writing-mode: vertical-rl;
      }

      .right-text-shadow {
        height: 100%;
        font-family: $header-font;
        font-weight: 900;
        text-transform: uppercase;
        color: white;
        font-size: 14rem;
        position: absolute;
        right: -14.5rem;
        opacity: 0.03;
        top: 0;
        transform: rotate(-180deg);
        writing-mode: vertical-rl;
        overflow: hidden;

        div {
          position: relative;
          bottom: 15rem;
        }
      }

      .left-bottom-text {
        font-family: $header-font;
        font-weight: 900;
        text-transform: uppercase;
        position: absolute;
        left: -29px;
        bottom: -8px;
        color: #0D0F16;
        font-size: 7.5rem;
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
      }

      .left-bottom-text-shadow {
        font-family: $header-font;
        font-weight: 900;
        text-transform: uppercase;
        position: absolute;
        left: 5px;
        bottom: -14px;
        color: #0D0F16;
        opacity: 0.25;;
        font-size: 14rem;
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
      }

    }

  }

  .hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

}

/*OUR SERVICES*/
.our-services {
  position: relative;
  overflow: hidden;

  .gradient-background {
    z-index: -1;
    position: absolute;
    width: 1000px;
    height: 1000px;
    opacity: 0.07;
    filter: blur(250px);
    top: 0;
    left: -280px;
    background-image: linear-gradient(180deg, #FF455B 0%, #FF7245 133.33%);
  }

  padding: 16.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;

  .services {
    flex: 1;
  }

  .service-cards {
    flex: 2;
    display: flex;
    gap: 1rem;

    .card-container:nth-child(2) {
      margin-top: -3.75em;
    }

    .card {
      max-height: fit-content;
      max-width: 330px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      border: 2px solid rgba(248, 248, 252, 0.1);
      padding: 3.5rem;

    }
  }
}

/*PORTFOLIO*/
.portfolio {
  position: relative;
  .right-text{
    font-family: $header-font;
    font-weight: 900;
    text-transform: uppercase;
    color: #0D0F16;
    font-size: 7.5rem;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
  }
  .right-text-shadow{
    font-family: $header-font;
    font-weight: 900;
    text-transform: uppercase;
    color: #0D0F16;
    font-size: 14rem;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.15;
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
  }
  background-color: #fff;

  .portfolio-container {
    width: fit-content;
    padding-top: 184px;

    .header-container {
      padding-left: 15.625rem;

      .latest-cases {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
          color: #26272C;
        }

        .link {
          color: #26272C
        }
      }
    }
  }


  .case-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    img {
      max-width: 480px;
      max-height: 680px;
    }
  }
}

/*NEWSLETTER*/
.subscribe {
  position: relative;
  .gradient-background{
    z-index: -1;
    position: absolute;
    width: 1000px;
    height: 1000px;
    opacity: 0.07;
    filter: blur(250px);
    top: -200px;
    background-image: linear-gradient(180deg, #FF455B 0%, #FF7245 133.33%);
  }
  padding: 120px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 129px;

  .newsletter {

  }

  form {
    fieldset{
      margin: 0 0 9px 0;
      padding: 0;
      border: 0;

    }
    input[type='email'] {
      border: 2px solid rgba(248, 248, 252, 0.1);
      background-color: transparent;
      padding: 14px 0 14px 30px;
      color: #989CAC;
    }

    input[type='submit'] {
      border: none;
    }
    input[type='checkbox']{
      border: 2px solid rgba(248, 248, 252, 0.1);
      background-color: transparent;
    }
    label{
      color: #989CAC;
      font-size: 14px;
      font-family: $main-font;;
      span{
        color: #FF455B;
      }
    }
  }
}
