/*HERO*/
header {
  /*Temporary hard coded height*/
  height: 100vh;
  max-height: 100vh;
  display: flex;

  .gradient-background {
    z-index: -1;
    position: absolute;
    width: 1000px;
    height: 1000px;
    opacity: 0.07;
    filter: blur(250px);
    right: 0;
    top: -200px;
    background-image: linear-gradient(180deg, #FF455B 0%, #FF7245 133.33%);
  }

  .header-image {
    flex: 1;

    .hero-image {
      width: 60%;
      background-position: center;
      height: 100%;
      max-height: 100vh;
      background-size: cover;
      position: relative;

      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
      }
    }

    .hero-image {
      background-image: url("../assets/images/hero-image.jpg");
    }
  }

  .hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

}

/*OUR SERVICES*/
.our-services {
  position: relative;
  overflow: hidden;

  .gradient-background {
    z-index: -1;
    position: absolute;
    width: 1000px;
    height: 1000px;
    opacity: 0.07;
    filter: blur(250px);
    top: 0;
    left: -280px;
    background-image: linear-gradient(180deg, #FF455B 0%, #FF7245 133.33%);
  }

  padding: 16.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;

  .services {
    flex: 1;
  }

  .service-cards {
    flex: 2;
    display: flex;
    gap: 1rem;
    justify-content: center;

    .card-container:nth-child(2) {
      margin-top: -3.75em;
    }

    .card {
      max-height: fit-content;
      max-width: 330px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      border: 2px solid rgba(248, 248, 252, 0.1);
      padding: 3.5rem;
    }
  }
}

/*PORTFOLIO*/
.portfolio {
  position: relative;

  .right-text {
    font-family: $header-font;
    font-weight: 900;
    text-transform: uppercase;
    color: #0D0F16;
    font-size: 7.5rem;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
  }

  .right-text-shadow {
    font-family: $header-font;
    font-weight: 900;
    text-transform: uppercase;
    color: #0D0F16;
    font-size: 14rem;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.15;
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
  }

  background-color: #fff;

  .portfolio-container {
    width: fit-content;
    padding-top: 11.5rem;

    .header-container {
      padding-left: 15.625rem;

      .latest-cases {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
          color: #26272C;
        }

      }
    }
  }


  .case-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    img {
      width: 480px;
      height: 680px;
    }
  }
}

/*NEWSLETTER*/
.subscribe {
  position: relative;
  flex-wrap: wrap;

  .gradient-background {
    z-index: -1;
    position: absolute;
    width: 1000px;
    height: 1000px;
    opacity: 0.07;
    filter: blur(250px);
    top: -200px;
    background-image: linear-gradient(180deg, #FF455B 0%, #FF7245 133.33%);
  }

  padding: 120px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 129px;

  .newsletter {

  }

  form {
    fieldset {
      margin: 0 0 9px 0;
      padding: 0;
      border: 0;
      display: flex;
    }

    input[type='email'] {
      border: 2px solid rgba(248, 248, 252, 0.1);
      background-color: transparent;
      padding: 14px 0 14px 30px;
      margin-right: 1em;
    }

    input[type='submit'] {
      height: inherit;
      border: 2px solid;
      border-image-slice: 1;
      border-image-source: linear-gradient(90deg, #FF455B 0%, #FF7245 100%);
    }

    input[type='checkbox'] {
      border: 2px solid rgba(248, 248, 252, 0.1);
      background-color: transparent;
    }

    label {
      color: $main-text-color;;
      font-size: 14px;
      font-family: $main-font;;

      span {
        color: #FF455B;
      }
    }
  }
}

.about-us {
  height: 100vh;
  display: flex;
  align-items: center;

  .header-image {
    height: 100%;
    flex: 1;
  }

  .hero-image {
    flex: 1;
    width: 80%;
    background-position: center;
    background-image: url("../assets/images/about-us.jpg");
    height: 100%;
    max-height: 1000vh;
    background-size: cover;
    position: relative;

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
    }

  }

  .hero {
    flex: 1;
  }
}

.blog-showcase{
  height: 100vh;
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .header-container {
    .latest-cases {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        color: #26272C;
      }

    }
  }
  .blog-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    .blog{
      max-width: 555px;
      .meta-info{
        margin-top: 2.5em;
        display: flex;
        color: $main-text-color;
      }
    }
  }
}

