nav {
  z-index: 6;
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 1.5rem 0;
  background-color: #0F1118;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navigation {
    display: flex;
    align-items: center;
    gap: 3.5rem;
  }

  .hamburger-menu {
    width: 119px;
    display: flex;
    justify-content: center;
    z-index: 10;
    &:hover {
      cursor: pointer;
    }
  }


  .reach-out {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-right: 3.75rem;

    .contact {
      a {
        white-space: nowrap;
        text-decoration: none;
        color: #fff;
        //&:before{
        //  content: url("../assets/icons/mobile-phone.svg");
        //  height: inherit;
        //  width: inherit;
        //}
      }
    }
  }

}