/*General links*/
.view-more {
  text-decoration: none;
  font-family: $main-font;
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 0.05em;
  text-transform: uppercase;


  &__black{
    color: #26272C
  }

  &__white{
    color: #fff;
  }

  &--hover{
    /*TO BE ADDED*/
  }

  &:after {
    margin-left: 10px;
    content: url("../assets/images/arrow.png");
  }
}